<div class="about">
  <p>
    So, what's all this about?
  </p>
  
  <p>
    dialogue (spelled with a lowercase 'd') is a social experiment in
    anonymous Socratic dialogues.  Users are (ideally) supposed to visit
    the site, read the question that they are presented with, and craft
    a response to it in the form of another question.  This question will
    then be posed to another user at some point in the future.  Each 
    question will be responded to once and only once, so it will only
    be seen by one user (except in certain special circumstances).
  </p>
  
  <p>
    After a dialogue has run it's course (determined by a mysterious
    and surely magical process beyond human comprehension), it will be
    archived, and viewable by all in the archives.
  </p>
  
  <p>
    An important thing to note is that all of this is anonymous.  Since
    there is no login, and no tracking of users, this is a truly free
    space, in many regards.  But with freedom comes the burden of responsibility,
    so choose your words carefully.  There is no delete.
  </p>
</div>
