<div class="dialog">
  <h3>Here's something for you to think about:</h3>
  <%= render 'layouts/meditation' %>
</div>

<hr>

<div class="response">
  <h3>Where do we go from here?</h3>
  <%= render 'layouts/question_form' %>
</div>
